.backgroundimg::before {
    content: "";
    position: absolute;
    top: 5rem;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('imagenes/dotcarucha.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    opacity: 0.5;
    z-index: -1;
    }


.presentacion {
    gap: 1rem;
    width: 33rem;
    height: 28.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.zi {
    z-index: 1;
}



.article{
    margin: 1rem;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;


}

.haciaderecha15{
    animation: animacionhaciaderecha 1.5s forwards;
}

.haciaderecha{
    animation: animacionhaciaderecha 2s forwards;
}

.haciaderecha2{
    animation: animacionhaciaderecha 2.5s forwards;
}

@keyframes animacionhaciaderecha {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


.haciaizquierda{
    animation: animacionhaciaizquierda 2s forwards;
}

@keyframes animacionhaciaizquierda {
    0% {
        transform: translateX(100%);
        opacity: 0%;
    }
    100% {
        transform: translateX(0);
    }
}


.haciaarriba {
    opacity: 0;
    animation: animacionhaciaarriba 2s forwards;
}

@keyframes animacionhaciaarriba {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.programming {
    position: relative;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    padding: 3rem;
}

.programming::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('imagenes/programacion.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

.cats{
    position: relative;
    margin-right: 1rem;
    padding: 3rem;
}

.cats::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('imagenes/gato.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

.guitar{
    position: relative;

}

.guitar::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('imagenes/guitarra.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}



.philosophy::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('imagenes/filosofia.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

.pickles::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('imagenes/pepinos.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

 .formstyle{
    width: 100%;
    height: 3.5rem;
}
.formsg{
    width: 100%;
    height: 10rem;
}

.formbutton{
    height: 3.5rem;
    border: none;
    cursor: pointer;
}

.backfooter{
    background-image: url('imagenes/fondofooter.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }


.link:hover{
    color: var(--text-1);
}

.linkback:hover{
    background-color: var(--text-1);
}

.socialicon{
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}